# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Notebook Checkpoints
.ipynb_checkpoints/


# 136 GB of Quasi-private Data Files
Data/Data_MIT/
# 10,000 files
Data/Data_Mini_4Os/
# 10,000 files
Data/Data_Mini_1Os/
